nav ul {
  margin: auto;
  list-style-type: none;
  background-color: rgba(145, 200, 236, 0.475);
  padding: 10px 30px;
  overflow: hidden;
  height: 20px;
}

nav li {
  display: inline-block;
  height: 100%;
  margin: 0 30px;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  margin-top: -50px;
  transition: 0.3s cubic-bezier(0.1, 0.1, 0.5, 1.4);
}

/* nav li a:hover {
  margin-top:0;
}

nav li a:hover::after {
  margin-top:0;
  content:attr(data-text);
  display:block;
  color:#CDF745;
} */

nav a:link,
a:visited {
  color: #607D8B;
}

.active {
  color: #039be5 !important;
}