<div class="bg-blue">
  <nav>
    <ul>
      <li>
        <a data-text="管道应用" routerLink='pipe' routerLinkActive='active'>管道应用</a>
      </li>|
      <li>
        <a data-text="服务应用" routerLink='service' routerLinkActive='active'>服务应用</a>
      </li>|
      <li>
        <a data-text="rxjs应用" routerLink='rxjs' routerLinkActive='active'>rxjs应用</a>
      </li>|
      <li>
        <a data-text="第三方调用" routerLink='map' routerLinkActive='active'>第三方调用</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>