.info-table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 70%;
  padding: 5%;
  max-width: 700px;
  margin: 5% auto 20px auto;
  border: 1px solid #d1cbcb;
  border-spacing: 0;
  border-collapse: collapse;
}

.info-table caption {
  margin-bottom: 20px;
  color: #607d8b;
}

.info-table td {
  padding: 8px;
  border-top: 1px solid #d1cbcb;
}

.info-table td:nth-child(1) {
  border-right: 1px solid #d1cbcb;
  width: 30%;
  text-align: center;
  background: #f0efef;
}

.info-table td:nth-child(2) {
  width: 70%;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}
